.gameboard{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: url("imagens/fundoMenu.png");
    background-size: 2500px;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 10px; 
    border-style: solid; 
    border-color:  rgb(255, 140, 0);
    display: inline;
}

.selecaoDecks{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: url("imagens/fundoMenu.png");
    background-size: 2500px;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 10px; 
    border-style: solid; 
    border-color:  rgb(255, 140, 0);
    display: none;


}

.escolhaOSeuDeck{
    width: 700px;
    height: 150px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    color: #000000;
    background-color: rgb(255, 132, 0, 90%);
    display: inline;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.escolherDeck{
    width: 230px;
    height: 230px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    font-family: fonteMenu;
    font-size: 50px;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(255, 132, 0, 90%);
}

.verDeck{
    width: 230px;
    height: 230px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    font-family: fonteMenu;
    font-size: 50px;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 10px;
    left: 275px;
    background-color: rgb(255, 132, 0, 90%);
}

.voltarParaSelecaoDeck{
    width: 230px;
    height: 230px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    font-family: fonteMenu;
    font-size: 50px;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 132, 0, 90%);
}

.painelEscolherVerVoltar{
    display: none;
}

.yudiasDeck{
    width: 300px;
    height: 400px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 350px;
    left: 40px;
    background-image: url(imagens/yudias.png);
    background-size: 800px;
    background-position: -160px -10px;
    background-color: rgb(255, 132, 0, 90%);
}

.yudiasNome{
    width: 300px;
    height: 80px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    font-family: fonteMenu;
    font-size: 50px;
    text-align: center;
    color: #000000;
    background-color: rgb(255, 132, 0, 90%);
    position: absolute;
    top: 260px;
    left: 40px;
}

.yugaNome{
    width: 300px;
    height: 80px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    font-family: fonteMenu;
    font-size: 50px;
    text-align: center;
    color: #000000;
    background-color: rgb(255, 132, 0, 90%);
    position: absolute;
    top: 260px;
    right: 40px;
}

.yugaDeck{
    width: 300px;
    height: 400px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position:absolute;
    top: 350px;
    right: 40px;
    background-image: url(imagens/yuga.png);
    background-size: 800px;
    background-position: -120px -120px;
    background-color: rgb(255, 132, 0, 90%);
}

.botaoIniciar{
    width: 500px;
    height: 150px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.botaoOpcoes{
    width: 500px;
    height: 150px;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.espacoCard1{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard2{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0px;
    left: 3.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard3{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0px;
    left: 7.0cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard4{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0px;
    left: 10.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard5{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0px;
    left: 14cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard6{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0px;
    left: 17.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard43{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 0px;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard44{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 3.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard45{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 7.0cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard46{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 10.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard47{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 14cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard48{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 17.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard13{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 0px;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard14{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 3.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard15{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 7.0cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard16{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 10.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard17{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 14cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard18{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 17.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard19{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 0px;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard20{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 3.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard21{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 7.0cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard22{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 10.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard23{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 14cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard24{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 17.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard25{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 21cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard26{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 24.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard27{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 28cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}


.espacoCard28{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 31.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard29{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 35cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard30{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 14.7cm;
    left: 38.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard31{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 21cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard32{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 24.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard33{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 28cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}


.espacoCard34{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 31.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard35{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 35cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard36{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 9.8cm;
    left: 38.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard37{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 21cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard38{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 24.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard39{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 28cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}


.espacoCard40{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 31.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard41{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 35cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard42{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 4.9cm;
    left: 38.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}
.espacoCard7{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0cm;
    left: 21cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard8{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0cm;
    left: 24.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard9{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0cm;
    left: 28cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}


.espacoCard10{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0cm;
    left: 31.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard11{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0cm;
    left: 35cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard12{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 0cm;
    left: 38.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard49{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 0cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard50{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 3.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard51{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 7cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard52{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 10.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard53{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 14cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard54{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 17.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard55{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 21cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard56{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 24.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard57{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 28cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard58{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 31.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard59{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 35cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}

.espacoCard60{
    width: 2.9cm;
    height: 4.3cm;
    border-width: 5px; 
    border-style: solid; 
    border-color:  rgb(109, 60, 0);
    position: absolute;
    top: 19.6cm;
    left: 38.5cm;
    background-color: rgb(255, 132, 0, 90%);
    font-family: fonteMenu;
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    color: #000000;
}


.painelVerCardsDeck{
    display: none;
}

@font-face {
    font-family: fonteMenu;
    src: url(fontes/Matrix-Bold.ttf);
 }